@import 'fonts/ifood-rc/iFoodRC.css';

/*  VARIABLES  */
:root {

    /* Font */
    --fontFamily: "iFood RC Textos", "Helvetica Neue", sans-serif;
    --textColor: #111111;
    --backgroundColor: #ffffff;

    /* Menus - Sizes and Distances */
    --menuVerticalWidth: 270px;
    --menuSideSize: 20px;
    --menuItemBarSize: 6px;
    --menuElementOverallPadding: 10px;
    --menuItemPaddingSize: calc(var(--menuElementOverallPadding) + 5px);
    --menuItemIconWidth: 25px;

    /* Text */
    --textSmallSize: calc(var(--textNormalSize) - 2px);
    --textNormalSize: 16px;
    --textMediumSize: calc(var(--textNormalSize) + 4px);
    --textBigSize: calc(var(--textNormalSize) + 10px);
    --textExtraBigSize: calc(var(--textNormalSize) + 16px);
    --textFullSize: calc(var(--textNormalSize) + 22px);

    /* Distances */
    --distanceNone: 0;
    --distanceSmallest: 5px;
    --distanceExtraSmall: 10px;
    --distanceSmall: 15px;
    --distanceMedium: 20px;
    --distanceBig: 30px;
    --distanceGiant: 40px;
    --distanceTitan: 60px;

    /* Border Radius */
    --borderRadiusNone: 0;
    --borderRadiusSmallest: 5px;
    --borderRadiusExtraSmall: 10px;
    --borderRadiusSmall: 15px;
    --borderRadiusMedium: 20px;
    --borderRadiusBig: 30px;
    --borderRadiusGiant: 40px;
    --borderRadiusTitan: 60px;
    --borderRadiusFull: 99999px;

    /* Color - Default */
    --colorDefault10: #f9d6d7;
    --colorDefault20: #f4afb1;
    --colorDefault30: #ef7e81;
    --colorDefault40: #ea1d2c;
    --colorDefault50: #cd1927;
    --colorDefault60: #ab1520;
    --colorDefault70: #801018;
    --textColorDefault10: #8c8c8c;
    --textColorDefault20: #bbbbbb;
    --textColorDefault30: #dfdfdf;
    --textColorDefault40: #ffffff;
    --textColorDefault50: #ffffff;
    --textColorDefault60: #ffffff;
    --textColorDefault70: #ffffff;

    /* Color - Primary */
    --colorPrimary10: #CADCE9;
    --colorPrimary20: #96B9D4;
    --colorPrimary30: #6195BE;
    --colorPrimary40: #2C72A8;
    --colorPrimary50: #21557E;
    --colorPrimary60: #163954;
    --colorPrimary70: #0B1D2A;
    --textColorPrimary10: #8c8c8c;
    --textColorPrimary20: #bbbbbb;
    --textColorPrimary30: #dfdfdf;
    --textColorPrimary40: #ffffff;
    --textColorPrimary50: #ffffff;
    --textColorPrimary60: #ffffff;
    --textColorPrimary70: #ffffff;

    /* Color - Success */
    --colorSuccess10: #CDE9CA;
    --colorSuccess20: #9CD496;
    --colorSuccess30: #6ABE61;
    --colorSuccess40: #38A82C;
    --colorSuccess50: #2A7E21;
    --colorSuccess60: #1C5416;
    --colorSuccess70: #0E2A0B;
    --textColorSuccess10: #8c8c8c;
    --textColorSuccess20: #bbbbbb;
    --textColorSuccess30: #dfdfdf;
    --textColorSuccess40: #ffffff;
    --textColorSuccess50: #ffffff;
    --textColorSuccess60: #ffffff;
    --textColorSuccess70: #ffffff;

    /* Color - Warning */
    --colorWarning10: #F6E8C7;
    --colorWarning20: #EDD18F;
    --colorWarning30: #E3BA57;
    --colorWarning40: #DAA31F;
    --colorWarning50: #A37A17;
    --colorWarning60: #6D510F;
    --colorWarning70: #372908;
    --textColorWarning10: #8c8c8c;
    --textColorWarning20: #bbbbbb;
    --textColorWarning30: #dfdfdf;
    --textColorWarning40: #ffffff;
    --textColorWarning50: #ffffff;
    --textColorWarning60: #ffffff;
    --textColorWarning70: #ffffff;

    /* Color - Danger */
    --colorDanger10: #E9CACA;
    --colorDanger20: #D49696;
    --colorDanger30: #BE6161;
    --colorDanger40: #A82C2C;
    --colorDanger50: #7E2121;
    --colorDanger60: #541616;
    --colorDanger70: #2A0B0B;
    --textColorDanger10: #8c8c8c;
    --textColorDanger20: #bbbbbb;
    --textColorDanger30: #dfdfdf;
    --textColorDanger40: #ffffff;
    --textColorDanger50: #ffffff;
    --textColorDanger60: #ffffff;
    --textColorDanger70: #ffffff;

    /* Color - Royal (mobile) */
    --colorRoyal10: #e2ddf9;
    --colorRoyal20: #c8bef4;
    --colorRoyal30: #ab9aef;
    --colorRoyal40: #886aea;
    --colorRoyal50: #775dcd;
    --colorRoyal60: #644eab;
    --colorRoyal70: #4a3a80;
    --textColorRoyal10: #8c8c8c;
    --textColorRoyal20: #bbbbbb;
    --textColorRoyal30: #dfdfdf;
    --textColorRoyal40: #ffffff;
    --textColorRoyal50: #ffffff;
    --textColorRoyal60: #ffffff;
    --textColorRoyal70: #ffffff;

    /* Color - Calm (mobile) */
    --colorCalm10: #d8e1fc;
    --colorCalm20: #b4c7f9;
    --colorCalm30: #88aaf7;
    --colorCalm40: #4285f4;
    --colorCalm50: #3a74d6;
    --colorCalm60: #3061b3;
    --colorCalm70: #244986;
    --textColorCalm10: #8c8c8c;
    --textColorCalm20: #bbbbbb;
    --textColorCalm30: #dfdfdf;
    --textColorCalm40: #ffffff;
    --textColorCalm50: #ffffff;
    --textColorCalm60: #ffffff;
    --textColorCalm70: #ffffff;

    /* Color - Light (mobile) */
    --colorLight10: #f5f5f5;
    --colorLight20: #ededed;
    --colorLight30: #e5e5e5;
    --colorLight40: #dcdcdc;
    --colorLight50: #c1c1c1;
    --colorLight60: #a1a1a1;
    --colorLight70: #787878;
    --textColorLight10: #5b5b5b;
    --textColorLight20: #7a7a7a;
    --textColorLight30: #919191;
    --textColorLight40: #a6a6a6;
    --textColorLight50: #bfbfbf;
    --textColorLight60: #d4d4d4;
    --textColorLight70: #e8e8e8;

    /* Color - Stable (mobile) */
    --colorStable10: #fdfdfd;
    --colorStable20: #fbfbfb;
    --colorStable30: #fafafa;
    --colorStable40: #f8f8f8;
    --colorStable50: #d9d9d9;
    --colorStable60: #b6b6b6;
    --colorStable70: #888888;
    --textColorStable10: #252525;
    --textColorStable20: #323232;
    --textColorStable30: #3c3c3c;
    --textColorStable40: #444444;
    --textColorStable50: #898989;
    --textColorStable60: #b5b5b5;
    --textColorStable70: #d9d9d9;

    /* Color - Dark (mobile) */
    --colorDark10: #d9d9d9;
    --colorDark20: #b5b5b5;
    --colorDark30: #898989;
    --colorDark40: #444444;
    --colorDark50: #3c3c3c;
    --colorDark60: #323232;
    --colorDark70: #252525;
    --textColorDark10: #8c8c8c;
    --textColorDark20: #bbbbbb;
    --textColorDark30: #dfdfdf;
    --textColorDark40: #ffffff;
    --textColorDark50: #ffffff;
    --textColorDark60: #ffffff;
    --textColorDark70: #ffffff;

    /* Color - Neutral (web e mobile) */
    --colorNeutral00: #FFFFFF;
    --colorNeutral10: #F1F1F1;
    --colorNeutral20: #E3E3E3;
    --colorNeutral30: #D5D5D5;
    --colorNeutral40: #C7C7C7;
    --colorNeutral50: #B9B9B9;
    --colorNeutral60: #ACACAC;
    --colorNeutral70: #9E9E9E;
    --colorNeutral80: #909090;
    --colorNeutral90: #828282;
    --colorNeutral100: #747474;
    --colorNeutral110: #666666;
    --colorNeutral120: #5D5D5D;
    --colorNeutral130: #535353;
    --colorNeutral140: #4A4A4A;
    --colorNeutral150: #414141;
    --colorNeutral160: #383838;
    --colorNeutral170: #2E2E2E;
    --colorNeutral180: #252525;
    --colorNeutral190: #1C1C1C;
    --colorNeutral200: #131313;
    --colorNeutral210: #090909;
    --colorNeutral220: #000000;
}

.body {
    font-family: var(--fontFamily);
    color: var(--colorNeutral180);
    font-size: var(--textNormalSize, 16px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "iFood RC Titulos", var(--fontFamily);
}

p,
span,
label,
a,
input,
.item {
    font-family: var(--fontFamily);
    color: var(--textColor30);
}

h5,
.h5 {
    color: var(--textColor30);
    font-weight: 400;
}

/* Autocomplete input  */
.login-bg input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px var(--colorPrimary10) inset;
    -webkit-box-shadow: 0 0 0px 1000px var(--colorPrimary10) inset;
}



.card .item:first-child,
.list-inset .item:first-child,
.padding>.list .item:first-child {
    border-radius: var(--borderRadiusSmallest);
}

.containerMobile {
    justify-content: flex-end;
}


/*  BUTTONS  */
button#crn-button-signup,
.login-mobile .button,
button,
.button {
    border-radius: var(--borderRadiusSmallest, 5px);
    letter-spacing: 0;
    font-size: var(--textNormalSize, 16px);
}


.button.button-light {
    background: transparent;
    border: 1px solid var(--colorLight40);
    color: var(--textColorLight40);
}

/*  LOGIN  */
.login-bg {
    background-image: url("img/background-cronappfood.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.login-bg .scroll {
    justify-content: flex-end;
}


a#reset-password-login,
#go-back-login,
a#button-signup {
    color: var(--textColor30, #d01f1f);
}

#reset-password-label,
#crn-title-signup,
#crn-heading-reset{
    color: var(--textColor40, #d01f1f);
}

.logo {
    margin-bottom: 25px;
}

.login-bg .center-content-vertically {
    justify-content: flex-end;
    margin-bottom: 28px;
}

.login-mobile{
    padding-top: 0;
}

.login-mobile .item-input{
    margin-bottom: 0;
}


/*  INPUTS  */
.item.item-input input {
    border: 1px solid var(--colorNeutral70);
    padding: 24px;
    background: var(--colorNeutral00);
    border-radius: var(--borderRadiusSmallest);
    color: var(--colorNeutral150);
    font-size: var(--textNormalSize);
}

.item.item-input input:focus {
    background: var(--colorNeutral00);
    border-color: var(--colorDefault40);
}

.item.item-input input::placeholder {
    color: var(--colorNeutral60);
}

.item-input input::placeholder {
    color: var(--colorNeutral60);
}