
<ion-tabs class="tabs-striped background-white component-holder tabs-icon-black icon-size-small" background-color="background-white" tabs-color="tabs-icon-black" tabs-size="icon-size-small" data-component="crn-tabs-icon-only" id="crn-tabs-icon-only-311066"> 
  <div class="tabs"> 
    <a class="tab-item active" title="Home" data-component="crn-tabs-icon-only-item" href="#/app/logged/home"> <i class="icon ion-home"></i> <span>Início</span> </a> 
    <a class="tab-item" title="Busca" data-component="crn-tabs-icon-only-item" href="#/app/logged/home-busca"> <i class="icon ion ion-android-search"></i> <span>Busca</span> </a> 
    <a class="tab-item" title="Pedidos" data-component="crn-tabs-icon-only-item" href="#/app/logged/home-pedidos"> <i class="icon ion ion-clipboard"></i> <span>Pedidos</span> </a> 
    <a class="tab-item" title="Perfil" data-component="crn-tabs-icon-only-item" contenttitle="" href="#/app/logged/home-perfil"><i class="icon fa fa-user"></i><span>Perfil</span></a> 
  </div> 
</ion-tabs> 
