<div id="starter" ng-init="cronapi.client('js.blockly.PerfilCliente.initTela').names().run()" ng-destroy="" data-component="crn-start" screen-params="[{'key':'exibeBotaoSacola','value':''},{'key':'valorTotalSacola','value':''}]"> 
  <div ng-init="cronapi.client('js.blockly.PerfilCliente.definirUsuarioLogado').names().run()" ng-destroy="" data-component="crn-start" screen-params="[{'key':'nomeUsuarioLogado','value':''},{'key':'emailUsuarioLogado','value':''},{'key':'telefoneUsuarioLogado','value':''},{'key':'notaAvaliacaoApp','value':''}]"> 
    <ion-view class="pane" id="pg-profile"> 
      <ion-header-bar class="bar component-holder bar-stable" data-component="crn-ion-header-bar" xattr-theme="bar-stable" id="crn-ion-header-bar-214683"> 
        <h1 class="title" align-title="text-align: center;" style="text-align: center;">Perfil</h1> 
      </ion-header-bar> 
      <ion-content data-component="crn-ion-content" class="scroll-content has-footer has-footer-tabs"> 
        <div data-component="crn-container" data-replace="true" class="component-holder row" id="crn-topo-nome"> 
          <div data-component="crn-container" data-replace="false" class="component-holder col-xs-3" id="crn-container-179781"> 
            <img alt="Placehold" src="assets/img-perfil-cliente.png" class="" style="object-fit: cover;" xattr-position="" object-fit="object-fit: cover;" data-component="crn-image" id="crn-image-261100" width="100%" height=""> 
          </div> 
          <div data-component="crn-container" data-replace="true" class="component-holder col-xs-9" id="crn-container-179782" style="font-weight: bold; line-height: 65px;">
             {{params.nomeUsuarioLogado}} 
          </div> 
        </div> 
        <a class="item component-holder col-xs-12 item-icon-left text-center" xattr-icon-position="item-icon-left" href="" xattr-text-position="text-center" data-component="crn-list-item-icon" id="crn-list-item-icon-152716" ng-click="cronapi.client('js.blockly.auth.ChangePersonData.openModal').names().run()"><i class="icon dark ion ion-person" xattr-theme="dark" xattr-icon-size="font-size:200%;" style="font-size:200%"></i><h2 class="dark" xattr-theme="dark">Dados Pessoais</h2></a> 
        <a class="item component-holder col-xs-12 item-icon-left text-center" xattr-icon-position="item-icon-left" href="" xattr-text-position="text-center" data-component="crn-list-item-icon" id="crn-list-item-icon-69961" ng-click="cronapi.client('js.blockly.ScoreApp.showModal').names().run()"><i class="icon dark fa fa-star" xattr-theme="dark" xattr-icon-size="font-size:200%;" style="font-size:200%"></i><h2 class="dark" xattr-theme="dark">Avaliar Aplicativo</h2></a> 
        <a class="item item-icon-left component-holder col-xs-12 text-center" xattr-icon-position="item-icon-left" href="" xattr-text-position="text-center" data-component="crn-list-item-icon" id="crn-list-item-icon-366775" ng-click="cronapi.client('js.blockly.auth.ChangePassword.openModal').names().run()"><i class="icon dark ion ion-android-lock" xattr-theme="dark" xattr-icon-size="font-size:200%;" style="font-size:200%"></i><h2 class="dark" xattr-theme="dark">Alterar Senha</h2></a> 
        <a class="item item-icon-left component-holder col-xs-12 text-center" xattr-icon-position="item-icon-left" xattr-text-position="text-center" data-component="crn-list-item-icon" id="crn-list-item-icon-939216" ng-click="cronapi.client('js.blockly.PerfilCliente.sairDoSistema').names().run()"><i class="icon dark ion ion-log-out" xattr-theme="dark" xattr-icon-size="font-size:200%;" style="font-size:200%"></i><h2 class="dark" xattr-theme="dark">Sair</h2></a> 
      </ion-content> 
      <div class="component-holder ng-scope" data-component="crn-component" id="crn-component-207278"> 
        <crn-component origin="components/footer.component.html" params="" class=""></crn-component> 
      </div> 
    </ion-view> 
    <script type="text/ng-template" id="changePassword">
    <ion-modal-view role="dialog"> 
    <ion-header-bar role="heading" class="row bar bar-stable" align-title="center">
        <h1 class="title text-center" data-component="crn-heading" ng-show="true" xattr-position="text-center">ALTERAR SENHA</h1>
        <button class="button button-clear" data-component="crn-button" ng-click="cronapi.client('js.blockly.auth.ChangePassword.closeModal').run()" xattr-type="button-clear">
           <i class="dark ion ion-close" xattr-icon-theme="dark"></i>
        </button>
    </ion-header-bar>
    <ion-content role="region" class="scroll-content has-header" data-component="crn-ion-content">
        <form class="form-validation input-default" autocomplete="off" name="form" role="form">
            <input type="hidden" name="csrf_token" value="CIwNZNlR4XbisJF39I8yWnWX9wX4WFoz" />
            <div class="list list-inset">
                <label aria-labelledby="input-old-password" class="item item-input component-holder" data-component="crn-input-icon" id="crn-input-icon-124772">
                    <i class="icon placeholder-icon ion ion-asterisk"></i>
                    <input type="password" placeholder="{{'Home.view.Old Password' | translate}}" ng-model="vars.oldPassword">
                    <span id="input-old-password" class="sr-only">{{'Home.view.Old Password' | translate}}</span>
                </label>
                <label aria-labelledby="input-new-password" class="item item-input component-holder" data-component="crn-input-icon" id="crn-input-icon98771">
                    <i class="icon placeholder-icon ion ion-asterisk"></i>
                    <input type="password" placeholder="{{'Home.view.New Password' | translate}}" ng-model="vars.newPassword">
                    <span id="input-new-password" class="sr-only">{{'Home.view.New Password' | translate}}</span>
                </label>
                <label aria-labelledby="input-password-confirmation" class="item item-input component-holder" data-component="crn-input-icon" id="crn-input-icon25041">
                    <i class="icon placeholder-icon ion ion-asterisk"></i>
                    <input type="password" placeholder="{{'Home.view.Confirmation' | translate}}" ng-model="vars.confirmationPassword">
                    <span id="input-password-confirmation" class="sr-only">{{'Home.view.Confirmation' | translate}}</span>
                </label>
                <button class="button button-block button-positive" data-component="crn-button" ng-click="cronapi.client('js.blockly.auth.ChangePassword.changePassword').run()" ng-disabled="form.$invalid || vm.dataLoading" xattr-size="">
                    CONFIRMAR
                </button>
            </div>
        </form>
    </ion-content>
    </ion-modal-view>
</script> 
    <script type="text/ng-template" id="changePersonData">
    <ion-modal-view role="dialog"> 
    <ion-header-bar role="heading" class="row bar bar-stable" align-title="center">
        <h1 class="title text-center" data-component="crn-heading" ng-show="true" xattr-position="text-center">DADOS PESSOAIS</h1>
        <button class="button button-clear" data-component="crn-button" ng-click="cronapi.client('js.blockly.auth.ChangePersonData.closeModal').run()" xattr-type="button-clear">
           <i class="dark ion ion-close" xattr-icon-theme="dark"></i>
        </button>
    </ion-header-bar>
    <ion-content role="region" class="scroll-content has-header" data-component="crn-ion-content">
        <form class="form-validation input-default" autocomplete="off" name="form" role="form">
            <input type="hidden" name="csrf_token" value="CIwNZNlR4XbisJF39I8yWnWX9wX4WFoz" />
            
            <div class="list list-inset">
            
            <p xattr-position="text-left" style="font-size: 14px;" class="component-holder col-xs-12 text-left" xattr-type="font-size: 14px;" data-component="crn-paragraph" id="crn-paragraph-723503">Nome Completo:</p>
            <div class="item item-input component-holder col-xs-12" data-component="crn-input" id="crn-input-866800"><input aria-label="Nome Completo" id="crn-input5146" type="text" placeholder="Seu Nome Completo" ng-model="params.nomeUsuarioLogado" mask="" keyboard=""></div>
            
            <p xattr-position="text-left" style="font-size: 14px;" class="component-holder col-xs-12 text-left" xattr-type="font-size: 14px;" data-component="crn-paragraph" id="crn-paragraph-723504">Email:</p>
            <div class="item item-input component-holder col-xs-12" data-component="crn-input" id="crn-input-866811"><input aria-label="Seu Email" id="crn-input5147" type="text" placeholder="Seu Email" ng-model="params.emailUsuarioLogado" mask="" keyboard=""></div>
            
            
            <p xattr-position="text-left" style="font-size: 14px;" class="component-holder col-xs-12 text-left" xattr-type="font-size: 14px;" data-component="crn-paragraph" id="crn-paragraph-723505">Telefone:</p>
            <div class="item item-input component-holder col-xs-12" data-component="crn-input" id="crn-input-866899"><input aria-label="Telefone" id="crn-input5148" type="text" placeholder="Seu Telefone" ng-model="params.telefoneUsuarioLogado" mask="(##)#####-####" keyboard=""></div>
            
            
            </div>
               <button class="button button-block button-positive" data-component="crn-button" ng-click="cronapi.client('js.blockly.auth.ChangePersonData.changePersonData').run()" ng-disabled="form.$invalid || vm.dataLoading" xattr-size="">
                    ALTERAR DADOS
                </button>
        </form>
    </ion-content>
    </ion-modal-view>
</script> 
    <script type="text/ng-template" id="scoreApp">
    <ion-modal-view role="dialog"> 
    <ion-header-bar role="heading" class="row bar bar-stable" align-title="center">
        <h1 class="title text-center" data-component="crn-heading" ng-show="true" xattr-position="text-center">AVALIAR APLICATIVO</h1>
        <button class="button button-clear" data-component="crn-button" ng-click="cronapi.client('js.blockly.ScoreApp.closeModal').run()" xattr-type="button-clear">
           <i class="dark ion ion-close" xattr-icon-theme="dark"></i>
        </button>
    </ion-header-bar>
    <ion-content role="region" class="scroll-content has-header" data-component="crn-ion-content">
        <form class="form-validation input-default" autocomplete="off" name="form" role="form">
            <input type="hidden" name="csrf_token" value="CIwNZNlR4XbisJF39I8yWnWX9wX4WFoz" />
                            
            <div class="list list-inset">

               <p xattr-position="text-left" style="font-size: 14px;" class="component-holder col-xs-12 text-left" xattr-type="font-size: 14px;" data-component="crn-paragraph" id="crn-paragraph-723507">Escolha uma nota para nosso app:</p>
               <div class="item item-input component-holder col-xs-12" data-component="crn-input" id="crn-input-866899"><div class="energized component-holder col-xs-12" xattr-theme="energized" data-component="crn-rating" id="crn-rating-417211"><cronapp-rating ng-model="params.notaAvaliacaoApp" icon-off="ion ion-android-star-outline" xattr-default-value="" ng-click="cronapi.client('js.blockly.ScoreApp.avaliarApp').names().run()"><i style="font-size: 200%" class="component-holder ion ion-android-star"></i> <i style="font-size: 200%" class="component-holder ion ion-android-star"></i> <i style="font-size: 200%" class="component-holder ion ion-android-star"></i> <i style="font-size: 200%" class="component-holder ion ion-android-star"></i> <i style="font-size: 200%" class="component-holder ion ion-android-star"></i></cronapp-rating></div></div>
            </div>
        </form>
    </ion-content>
    </ion-modal-view>
</script> 
  </div> 
</div>