<div id="starter" ng-init="" ng-destroy="" data-component="crn-start" screen-params="[{'key':'idRestaurante','value':''}]"><ion-view class="pane">
  <ion-header-bar align-title="center" class="bar bar-positive" xattr-theme="bar-positive" data-component="crn-ion-header-bar">
    <div class="buttons buttons-left header-item">
      <button class="button button-clear" data-component="crn-button" xattr-type="button-clear" ng-click="cronapi.client('js.blockly.Restaurante.voltar').names().run()"> <i class="icon ion ion-ios-arrow-back"></i> </button>
    </div>
    <h1 class="title"></h1>
    <div class="buttons buttons-right header-item">
      
    </div>
  </ion-header-bar>
  <ion-content data-component="crn-ion-content" class="scroll-content has-header">
  </ion-content>
</ion-view></div>