{
  "app": {
    "guid": "346a3433-1d17-4305-88e5-4af7f7a7385c",
    "version": "1.0-SNAPSHOT",
    "groupId": "io.cronapp.apps.cronappfood",
    "artifactId": "io.cronapp.apps.cronappfood"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administradores;",
    "entitiesSecurity": "Autenticado;",
    "expandCompositeKeys": false,
    "addDisplayFields": true
  },
  "security": {
    "token": "MzQ2YTM0MzMtMWQxNy00MzA1LTg4ZTUtNGFmN2Y3YTczODVj",
    "tokenExpiration": 3600,
    "tokenRecaptcha": null
  },
  "auth": {
    "type": "Token",
    "defaultDomain": null,
    "hostname": null,
    "autoSignUp": true,
    "socialLogin": false,
    "mutual": false,
    "socialNetworks": [],
    "autoSignUpSocial": false,
    "applicationProperties": {},
    "templateProperties": {
      "mutual": "false",
      "social": "false",
      "appid": "io.cronapp.apps.cronappfood",
      "backend": "true",
      "theme": "United",
      "availableSignup": "true",
      "authentication": "Token",
      "frontend": "true"
    },
    "groupName": null,
    "availableSignup": true
  },
  "email": {
    "emailResetPassword": "",
    "nameResetPassword": ""
  },
  "fixedTimeZone": true,
  "timeZone": "UTC",
  "projectName": "cronapp-food",
  "timeZoneOffset": 0,
  "flushMode": "AUTO",
  "libraryConfiguration": {},
  "xframeOptions": "SameOrigin"
}