{
  "app": {
    "guid": "346a3433-1d17-4305-88e5-4af7f7a7385c",
    "version": "1.0-SNAPSHOT",
    "groupId": "io.cronapp.apps.cronappfood",
    "artifactId": "io.cronapp.apps.cronappfood"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administradores;",
    "entitiesSecurity": "Autenticado;",
    "expandCompositeKeys": false,
    "addDisplayFields": true
  },
  "openApi": {
    "exposeEndpoints": false,
    "exposeDataSources": false,
    "exposeEntities": false,
    "exposeBlocklys": false,
    "exposeAuth": false
  },
  "security": {
    "token": "MzQ2YTM0MzMtMWQxNy00MzA1LTg4ZTUtNGFmN2Y3YTczODVj",
    "tokenExpiration": 3600,
    "tokenRecaptcha": null
  },
  "auth": {
    "type": "Token",
    "defaultDomain": null,
    "hostname": null,
    "autoSignUp": true,
    "socialLogin": false,
    "mutual": false,
    "socialNetworks": [],
    "autoSignUpSocial": false,
    "applicationProperties": {},
    "templateProperties": {
      "mutual": "false",
      "social": "false",
      "appid": "io.cronapp.apps.cronappfood",
      "backend": "true",
      "theme": "United",
      "availableSignup": "true",
      "authentication": "Token",
      "frontend": "true"
    },
    "groupName": null,
    "availableSignup": true,
    "minPasswordSize": 6,
    "failedAttempts": 4,
    "blockTime": 10,
    "idletime": 0,
    "onlyStrongPass": true,
    "dontAllowRepeatedPass": true,
    "minUpperCase": 1,
    "minDigit": 1,
    "minSpecial": 1
  },
  "email": {
    "emailResetPassword": "",
    "nameResetPassword": ""
  },
  "fixedTimeZone": true,
  "timeZone": "UTC",
  "projectName": "Cronapp Food 2.9",
  "timeZoneOffset": 0,
  "flushMode": "AUTO",
  "libraryConfiguration": {},
  "themeConfiguration": {
    "webTheme": {
      "themeName": "United",
      "searchableText": "UnitedO tema United utiliza o padrão de HTML e CSS do Bootstrap",
      "themeDescription": "O tema United utiliza o padrão de HTML e CSS do Bootstrap",
      "imgSrc": "/rwt-resources/files-templates/theme-image--1713339414.png",
      "themePath": "node_modules/cronapp-framework-js/css/themes/united.min.css",
      "deprecated": false
    },
    "mobileTheme": {
      "themeName": "United",
      "searchableText": "UnitedO tema United utiliza o padrão de HTML e CSS do Bootstrap",
      "themeDescription": "O tema United utiliza o padrão de HTML e CSS do Bootstrap",
      "imgSrc": "/rwt-resources/files-templates/theme-image--1713339414.png",
      "themePath": "node_modules/cronapp-framework-mobile-js/css/themes/united.min.css",
      "deprecated": false
    },
    "webSkin": {
      "skinPath": null,
      "skinRelativePath": ""
    },
    "mobileSkin": {
      "skinPath": "src/main/mobileapp/www/css/skins/food.css",
      "skinRelativePath": "css/skins/food.css"
    }
  },
  "saveAuditLog": 365,
  "showStackTrace": true,
  "locale": "",
  "biometricAuthentication": false,
  "webMainRoute": "views/login.view.html",
  "mobileMainRoute": "views/login.view.html",
  "xframeOptions": "SameOrigin"
}