<ion-view role="region" aria-labelledby="login_page_title" cache-view="false" can-swipe-back="false" class="pane login-bg" data-container="true"> 
  <h1 class="sr-only" id="login_page_title">{{"Users.view.Login" | translate}}</h1> 
  <ion-content class="scroll-content center-content-vertically" data-component="crn-ion-content"> 
    <img alt="Placehold" src="img/logo_cronappfood.svg" class="" style="object-fit: cover;" xattr-position="" width="100%" height="" object-fit="object-fit: cover;" data-component="crn-image" id="crn-image-481298"><div class="component-holder ng-scope" data-component="crn-social-login" id="crn-social-login-70856"><cron-social-login social-login="google" class=""><span></span></cron-social-login></div> 
     
  </ion-content> 
</ion-view>