<ion-view class="pane login-bg">
  <ion-content data-component="crn-ion-content" class="scroll-content" style="padding: 0px;">
    <div data-replace="true" data-component="crn-container" class="containerMobile " id="crn-container-445023">
      <h1 data-component="crn-heading" class="component-holder text-center h3" id="crn-title-signup" xattr-type="h3" xattr-position="text-center">{{'ResetPassword' | translate}}</h1>

      <form crn-datasource="" data-component="crn-form">
        <div class="list list-inset login-mobile" data-container="true">
          <div class="list safe-top" data-container="true">


            <div class="item item-input component-holder" data-component="crn-input" for="crn-input-username" title="{{'Login.view.Username' | translate}}">
              <input type="password" ng-model="vars.passwordNew" id="passwordNew" aria-label="{{'ResetPasswordNew' | translate}}" placeholder="{{'ResetPasswordNew' | translate}}" mask="" keyboard="password">
            </div>
            <div class="item item-input component-holder" data-component="crn-input" for="crn-input-password" title="{{'Login.view.Password' | translate}}">
              <input type="password" ng-model="vars.passwordConfirmation" id="passwordConfirmation" aria-label="{{'ResetPasswordConfirmation' | translate}}" placeholder="{{'ResetPasswordConfirmation' | translate}}" mask="" keyboard="password">
            </div>

            <div class="item" title="{{'ResetPassword' | translate}}" for="crn-button-445347">
              <button role="button" aria-label="{{'ResetPassword' | translate}}" class="button button-block button-medium filled button-default" type="button" xattr-fullsize="button-block" xattr-theme="button-default" ng-click="cronapi.client('js.blockly.auth.Signup.Signup')" data-component="crn-button" xattr-size="button-medium" xattr-type="filled" id="crn-button-907928" ng-disabled="form.$invalid || vm.dataLoading"> <i class="light" xattr-icon-theme="light"></i> <span>{{"ResetPassword" | translate}}</span></button>
            </div>
            <a href="#/app/login" aria-label="{{'Signup.view.Back' | translate}}" class="color-default" style="display:block" xattr-fullsize="display:block;" data-replace="true" data-component="crn-anchor" id="go-back-login" text-theme="color-default">Voltar</a>
          </div>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>